.env
.git/
.gitattributes
.gitignore
.github/
.agents/
.claude/
node_modules/
vendor/
storage/app/public/*
storage/debugbar/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!.gitkeep
tests/
docs/
