APP_NAME="TuLaburoAqui"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://labormarket.thejairex.dpdns.org

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=tulaburo
DB_USERNAME=tulaburo
DB_PASSWORD=cambia_esto_por_una_password_segura

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=cambia_esto_tambien

CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis

FILESYSTEM_DISK=local
LOG_CHANNEL=stderr
LOG_LEVEL=error

MAIL_MAILER=resend
RESEND_API_KEY=
MAIL_FROM_ADDRESS="noreply@tudominio.com"
MAIL_FROM_NAME="TuLaburoAqui"
